<h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show', :controller => "tasks", :action => "show", :id => @task, :sprint_id => @sprint_id %> |
<%= link_to 'Back', :controller => "tasks", :action => "index", :sprint_id => @sprint_id %>
